body {
  font-family: 'Ultra',serif;
  font-family: 'Lato', sans-serif;
}
/* Landingpage styles */
.landing-logo-text{
  padding: 30px;
  font-family: 'Ultra', serif;
  font-size: 250%;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}
.landing-menu-box{
background-color: rgba(0,0,0,0.5);
  font-size: 120%;
  padding-top: 20px;
  box-sizing: content-box;
  min-width: 600px;
  border-top: 2px solid #ffcc99;
  border-bottom: 2px solid #ffcc99;
}
/* Everypage navigation styles */
.logo-text {
font-family: 'Ultra', serif;
font-size: 250%;
color: white;
letter-spacing: 2px;
text-align: left;
}

.menu-text{
color: #ffcc99;
text-align: center;
}
.menu-logo-text {
font-family: 'Ultra', serif;
font-size: 250%;
color: white;
letter-spacing: 2px;
text-decoration: none;
}

.menu-logo-text a{
  text-decoration: inherit;
}

.columns a{
  text-decoration: none;
  color: inherit;
}
.columns a:hover{
  color: white;
  font-weight:bolder;
}

/* special logo-style headline */
.special-headline {
  font-family: 'Ultra', serif;
  font-size: 200%;
  color: #ffcc99;
  letter-spacing: 2px;
  text-align: center;
}

/* textboxes, columns, and formatting */

.columns {
  /* column; */
  font-size: 100%;
  text-align: center;
  padding-top: 10px;
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 40px;
}

.about-box {
  background: rgba(250,234,218, 0.65);
  color: black;
  font-size: 80%;
  text-align: left;
  border-radius: 15px 15px 0px 0px;
  padding-top: 5px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: auto;
}

}
.headlines {
  color: white;
  font-size: 125%;
  padding-bottom: 25px;
}

.plain-text {
  border-left: 2px solid #ffa64d;
  padding: 30px;
  border-radius: 15px;
  color: white;
  width: 700px;
  margin-left: 120px;
  background: rgba(0,0,0,0.65);
  /* box-shadow: 9px 10px 16px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 10px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 16px 0px rgba(0,0,0,0.75); */
text-indent: 50px;
}
.text-box {
  width: 720px;
  /* background: rgb(0,0,0,0.65); */
}
.content {
  background: white;
  border-radius: 15px;
  min-width: 400px;
  height: auto;
  padding: 5px;
  margin-left: 470px;
  margin-right: 120px;
  margin-top: 50px;
}
