body {
  font-family: 'Ultra',serif;
  font-family: 'Lato', sans-serif;
}

/* Landingpage styles */
.landing-logo-text{
  padding: 30px;
  font-family: 'Ultra', serif;
  font-size: 300%;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}
.landing-menu-box{
  background-color: rgba(0,0,0,0.5);
  font-size: 120%;
  padding-top: 30px;
  height: auto;
  min-width: 600px;
  border-top: 2px solid #ffcc99;
  border-bottom: 2px solid #ffcc99;
}
/* Everypage navigation styles */
.logo-text {
font-family: 'Ultra', serif;
font-size: 250%;
color: white;
letter-spacing: 2px;
text-align: left;
}

.below-nav{
  top: 100px;
}
.menu-text{
color: #ffcc99;
text-align: center;
}

.menu-text a:hover{
  color: white;
  font-weight:bolder;
  font-size: 115%;
}

.menu-logo-text {
padding: 30px;
font-family: 'Ultra', serif;
font-size: 250%;
color: white;
letter-spacing: 2px;
text-decoration: none;
}

.menu-logo-text a{
  text-decoration: none;
}

.dark-menu-box{
  position: fixed;
  z-index: 1; /*to stay on top*/
  background-color: black;
  width:100%;
  height: 100px;
  /* box-shadow: black; */
  box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 6px 5px rgba(0,0,0,0.5);
}

/* special logo-style headline */
.special-headline {
  font-family: 'Ultra', serif;
  font-size: 200%;
  color: #ffcc99;
  letter-spacing: 2px;
  text-align: center;
}

/* textboxes, columns, and formatting */

.columns {
  /* column; */
  font-size: 100%;
  text-align: center;
  padding-top: 10px;
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 40px;
}

.columns a{
  text-decoration: none;
  color: inherit;
}
.video-display-box{
  padding-top: 50px;
  padding-left: 120px;
  padding-right: 120px;
  background-color: #ffcc99;
}

.about-box {
  background: rgba(250,234,218, 0.65);
  color: black;
  font-size: 80%;
  text-align: left;
  border-radius: 15px 15px 0px 0px;
  padding-top: 5px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: auto;
}
.floated {
    float: right;
    margin: 10px;
}

.headlines {
  color: white;
  font-size: 125%;
  padding-bottom: 25px;
}
.caption-text{
  color: black;
  text-align: center;
  font-size: 70%;
}
.straight-text{
  color: black;
  text-align: left;
  font-size: 70%;
}
.tour-text {
  color: grey;
  text-decoration: none;
}
.plain-text {
  border-left: 2px solid #ffa64d;
  padding: 30px;
  border-radius: 15px;
  color: white;
  width: 700px;
  margin-left: 120px;
  background: rgba(0,0,0,0.65);
  /* box-shadow: 9px 10px 16px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 10px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 16px 0px rgba(0,0,0,0.75); */
  text-indent: 50px;
}

/* used only on tourdates */
.text-box {
  width: 720px;
  /* background: rgb(0,0,0,0.65); */
}

/* .container {
    padding-top: 120px;
    margin-right: 120px;
    margin-left: 120px;
    overflow: hidden;
} */

.container-discography {
    padding-top: 150px;
    overflow: hidden;
}

.content {
  margin-bottom: 100px;
  background: white;
  border-radius: 15px;
  min-width: 400px;
  padding: 5px;
  margin-left: 480px;
  margin-right: 120px;
}
.card-title {
  font-size: 130%;
  text-align: center;
}
.card {
  width: 200px;
  height: 100%;
  background: white;
}

.card-container {
  padding-left: 225px;
  padding-bottom: 100%;
  height:100%;
  background-color: #ffcc99;
  padding-top: 150px;
  padding-right: 120px;
  display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.sidenav-icons {
  margin-left: 55px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 45px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 0px;
}
.sidenav-icons a {
  padding-bottom: 10px;
  width: 40px;
  height: auto;
  float: right;
  display: block;
}

/* The following is all MERCH-STYLING */
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    background-color: #222; /* Grey */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 150px;
}

/* The navigation menu links */
.sidenav a {
    padding: 0px 10px 10px 120px;
    float: left;
    text-decoration: none;
    font-size: 100%;
    color: #ffcc99;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #555;
    color: #f1f1f1;
}

/* Style page content */
.main {
  left: 150px;
  top: 75px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.filterDiv {
    float: left;
    width: 250px;
    line-height: auto;
    margin: 2px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: flex;
}

.filterDiv img{
width: 100%;
height: auto;
display: block; /* Hidden by default */
}

img{
  padding: 0px;
}
